.dark {
  .cm-line {
    color: white;
    background: rgb(39 39 42);
    font-size: 16px;
  }
  .cm-content {
    background: rgb(39 39 42);
    caret-color: white;
  }
}
.light {
  .cm-line {
    color: black;
    background: white;
    font-size: 16px;
  }
  .cm-content {
    background: white;
    caret-color: black;
  }
}

.cm-editor.cm-focused {
  outline: none !important;
}
