@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji" !important;
    -webkit-tap-highlight-color: transparent;
  }
}

[contentEditable="true"] > pp:first-child:empty:before {
  font-weight: 900;
  font-size: 1.25rem;
  height: 30px;
  display: block;
  color: rgb(107 114 128);
  content: attr(data-placeholder);
}

#placeHolderSpan {
  font-weight: 900;
  font-size: 1.25rem;
  height: 30px;
  display: inline;
  color: rgb(107 114 128);
}

[contentEditable="true"] > p:first-child:empty:after {
  content: "\200B";
}

.paragraph > span:empty:after {
  content: "\200B";
  display: inline;
}

a {
  color: rgb(14 165 233);
}
